[submodule "deps/immer"]
	path = deps/immer
	url = https://github.com/arximboldi/immer.git
[submodule "deps/scelta"]
	path = deps/scelta
	url = https://github.com/SuperV1234/scelta.git
[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
